/* You can add global styles to this file, and also import other style files #831619 */
button.btn {
  background-color: #831619;
  color: white;
}

input.form-control {
  width: 300px;
}

.borderLeft {
  border-left: solid #831619;
  height: 1000px;
  padding-left: 15px;
}

.verticalLine {
  border-left: solid #831619;
  height: 1000px;
}

.borderBottom {
  border-bottom: solid #831619;
}
