<div class="mt-5">
  <h4>Change your password</h4>
  <form #f="ngForm" (ngSubmit)="onChangePassword(f)" #form="ngForm">
    <div class="form-group">
      <input id="usernameChangePassword" placeholder="Username" type="text" name="username" ngModel class="form-control">
    </div>
    <div class="form-group">
      <input id="newPassword" placeholder="New password" type="password" name="password" ngModel #password="ngModel" class="form-control">
    </div>
    <div class="form-group">
      <input id="newPasswordConfirm" placeholder="Confirm password" type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" class="form-control"
        required>
      <app-field-error message="Please confirm your password" [invalid]="confirmPassword.invalid && (confirmPassword.touched || form.submitted)"></app-field-error>
      <app-field-error message="Passwords do not match" [invalid]="confirmPassword.value && confirmPassword.value !== password.value && form.submitted"></app-field-error>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    <button class="btn btn-primary" (click)="closeChangePassword.emit()">Go back</button>
  </form>
</div>

