<div class="mt-5">
  <h4>Create a New Account</h4>
  <form (ngSubmit)="onRegister(form)" #form="ngForm">
    <div class="form-group">
      <input id="username" placeholder="Username" type="text" class="form-control" name="username" ngModel #username="ngModel" required>
      <app-field-error message="Please enter your username" [invalid]="username.invalid && (username.touched || form.submitted)"></app-field-error>
    </div>
    <div class="form-group">
      <input id="password" placeholder="Password" type="password" name="password" ngModel #password="ngModel" class="form-control" required>
      <app-field-error message="Please enter your password" [invalid]="password.invalid && (password.touched || form.submitted)"></app-field-error>
    </div>
    <div class="form-group">
      <input id="confirmPassword" placeholder="Confirm password" type="password" name="confirmPassword" ngModel #confirmPassword="ngModel" class="form-control"
        required>
      <app-field-error message="Please confirm your password" [invalid]="confirmPassword.invalid && (confirmPassword.touched || form.submitted)"></app-field-error>
      <app-field-error message="Passwords do not match" [invalid]="confirmPassword.value && confirmPassword.value !== password.value && form.submitted"></app-field-error>
    </div>
    <div class="form-group">
      <input id="firstName" placeholder="First name" type="text" name="firstName" ngModel #firstName="ngModel" class="form-control" required>
      <app-field-error message="What's your name?" [invalid]="firstName.invalid && (firstName.touched || form.submitted)"></app-field-error>
    </div>
    <div class="form-group">
      <input id="lastName" placeholder="Last name" type="text" name="lastName" ngModel #lastName="ngModel" class="form-control" required>
      <app-field-error message="Please enter your last name" [invalid]="lastName.invalid && (lastName.touched || form.submitted)"></app-field-error>
    </div>
    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="date" placeholder="Date of birth" name="birthday" id="birthday" ngModel #birthday="ngModel" class="form-control" required>
      <app-field-error message="Please enter your birthday" [invalid]="birthday.invalid && (birthday.touched || form.submitted)"></app-field-error>
    </div>
    <div class="form-group">
      <input type="text" placeholder="Phone number" name="phoneNumber" id="phoneNumber" ngModel #phoneNumber="ngModel" class="form-control" required>
      <app-field-error message="Please enter your phone number" [invalid]="phoneNumber.invalid && (phoneNumber.touched || form.submitted)"></app-field-error>
    </div>
    <div class="form-group">
      <input type="email" placeholder="E-mail" name="email" id="email" ngModel #email="ngModel" class="form-control" [email]="true" required>
      <app-field-error message="Please enter a valid e-mail" [invalid]="email.invalid && (email.touched || form.submitted)"></app-field-error>
    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
    <app-field-error [message]="registerErrorMessage"></app-field-error>
  </form>
</div>

