<nav class="navbar navbar-expand-lg navbar-light bg-light borderBottom">
  <img src="../../../assets/images/etf-logo.jpg" width="50">
  <a class="navbar-brand" href="">ETF Management</a>
  <ul class="navbar-nav ml-auto">
    <li *ngIf="showSignInUp" class="nav-item">
      <a class="nav-link" routerLink="register">Sign Up</a>
    </li>
    <li *ngIf="showSignInUp" class="nav-item">
      <a class="nav-link" routerLink="login">Sign In</a> <!--//TODO show these links in some cases? Have pages where only registration is shown, not with signin, when
      //TODO user clicks a link that he doesn't have access to.-->
    </li>
  </ul>
</nav>
