<div *ngIf="!showChangePassword" class="mt-5">
  <h4>Already a member? Log in here</h4>
  <form #f="ngForm" (ngSubmit)="onLogin(f)">
    <div class="form-group">
      <input id="usernameLogin" placeholder="Username" type="text" name="username" ngModel class="form-control">
    </div>
    <div class="form-group">
      <input id="passwordLogin" placeholder="Password" type="password" name="password" ngModel class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Sign In</button>
    <button class="btn btn-primary" type="button" (click)="toggleChangePassword(true)">Change password</button>
    <app-field-error [message]="loginErrorMessage"></app-field-error>
  </form>
  <br>
</div>
<app-change-password *ngIf="showChangePassword" (closeChangePassword)="toggleChangePassword(false)"></app-change-password>


