<div class="row" *ngIf="!registerSuccessful">
  <div class="offset-lg-2 col-lg-3">
    <app-register (registerSuccessful)="toggleRegisterSuccessful(true)"></app-register>
  </div>
  <div class="offset-lg-1 verticalLine"></div>
  <div class="offset-lg-2 col-lg-3">
    <app-login *ngIf="!showChangePassword"></app-login>
  </div>
</div>
<div *ngIf="registerSuccessful">
  <h4>Registration successful! Your request has been sent to the system administrator</h4>
  <button class="btn btn-primary" (click)="toggleRegisterSuccessful(false)">Go back</button>
</div>
